{
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "plugins": []
      }
    },
    {
      "files": ["apps/landing/src/styles/prose.css"],
      "options": {
        "plugins": []
      }
    }
  ]
}
