@import "tailwindcss";

/* nx-tailwind-sources:start */
@source "../../../libs/mozart-ui/theme-toggle";
@source "../../../libs/shared-util-analytics";
@source "../../../libs/shared-util-mozart-links";
@source "../../../libs/shared-util-os";
@source "../../../libs/shared-util-theme";
@source "../../../libs/spartan-ui/breadcrumb";
@source "../../../libs/spartan-ui/button";
@source "../../../libs/spartan-ui/dialog";
@source "../../../libs/spartan-ui/icon";
@source "../../../libs/spartan-ui/input";
@source "../../../libs/spartan-ui/navigation-menu";
@source "../../../libs/spartan-ui/tooltip";
@source "../../../libs/spartan-ui/utils";
/* nx-tailwind-sources:end */
@source "../../../libs/{shared-util-theme,ui}/**/*.{html,ts}";
@import "../../../libs/mozart-design-tokens/src/index.css";
@import "./styles/prose.css";

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
