@import "tailwindcss";

/* nx-tailwind-sources:start */
@source "../../../libs/shared-util-theme";
/* nx-tailwind-sources:end */
@source "../../../libs/{shared-util-theme,ui}/**/*.{html,ts}";
@import "../../../libs/shared-styles-theme/src/index.css";
@import "./styles/prose.css";

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
